body {
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.light_mode {
  .sideBar {
    background-color: #025c8c;
  }
}

.dark_mode {
  .sideBar {
    background-color: #32007b;
  }
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 50vw;
  color: white;
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
    a {
      text-decoration: none;
      margin: .5rem 0;
      &:visited { color: white; }
      &:hover { 
        color: white; 
      }
    }
  }
  .slider {
    margin: 0 auto;
  }
}

.userHyperLinksSocial {
  display: flex;
  & > a {
    margin: 0rem 4rem;
  }
}

.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider .slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider .slider-round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

#modeSwitch:checked + .slider-round {
  background-color: #2196F3;
}

#modeSwitch:checked + .slider-round:before {
  transform: translateX(26px);
}
